Scanner/debug/ScannerTest
debug/*
!debug/.gittouch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/testfile.txt~
/textfile1.txt
/testfile.txt
/out.txt
/scanner1.txt
/scanner1.txt~
/scanner2.txt
/scanner2.txt~
/scanner3.txt
/scanner3.txt~
/scanner4.txt
/scanner4.txt~
/scanner5.txt
/scanner5.txt~
/scanner6.txt
/scanner6.txt~
/scanner7.txt
/scanner7.txt~
/scanner8.txt
/scanner8.txt~
